body, html, p, span {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}
html {
    font-size: 16px;
    font-family: 'Inconsolata', sans-serif;
}
body {
    background-color: rgb(63, 77, 92);
    
    color: rgb(159, 165, 185);
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 6rem 1fr;
    grid-template-areas: "header" "input" "body";
    width: 32rem;
    height: 100%;
    margin: 0 auto;
}

#header, #input, #base-wrapper {
    display: flex;
}

#header {
    grid-area: header;
    padding-top: 1rem;
}

#input {
    grid-area: input;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left gutter right"
}

#input input {
    background-color: inherit;
    border: none;
    font-size: 1.5rem;
    height: 2rem;
    color: inherit;
    font-family: 'Inconsolata', sans-serif;
    border-bottom: 2px solid rgb(159, 165, 185);
    padding-top: 3rem;
}

#input input:focus {
    outline: none;
}

#input-base {
    grid-area: right;
}

#input-from {
    grid-area: left; 
}

#base-wrapper {
    grid-area: body;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#brand {
    font-size: 2rem;
}

.base {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
}

.block {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.3em;
    color: white;
    border: 2px solid rgb(86, 91, 105);
    background-color: rgb(56, 61, 75);
    line-height: 3.2rem;
    text-align: center;
}

.block.zero {
    color: rgb(86, 91, 105);
}