body, html, p, span {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: rgb(63, 77, 92);
    font-family: 'Inconsolata', sans-serif;
    color: rgb(159, 165, 185);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    height: 100%;
}

.base {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
}

.block {
    width: 50px;
    height: 50px;
    font-size: 1.4em;
    color: white;
    border: 2px solid rgb(86, 91, 105);
    background-color: rgb(56, 61, 75);
    line-height: 50px;
    text-align: center;
}